
.feedbacks{
	background-image: url(../../img/feedbacks_bg.png);
	background-size: 100% 100%;
	min-height: 545px;
	overflow: visible !important;
	position: relative;
	
	&__title{
		color: #ffffff;
		font-size: 30px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	&-item{
		background-color: #ffffff;
	min-height: 275px;
	width: 480px;
	margin-left: 50px;
	overflow: visible !important;
	position: relative;
    &__img{
    	margin-left: 42%;
    	margin-top: -40px;
    	overflow: hidden;	
    	height: 80px;
    	width: 80px;
    	z-index: 9;
    	position: absolute;
    	top: 0;
    }
    img{
    	height: 100%;
    	width: 100%;

    }
	&__name{
		padding-top: 50px;
	}
	}
}
// 