.rooms{
	&-item{
	background-color: #fafafa;
	margin-bottom: 40px;
	margin-top: 40px;	

		&__title{
			font-size: 26px;
			padding-top: 45px;
		}
		&__price{
			color: #ff7435;
		}
		&__price-text{
			font-size: 16px;
			font-weight: medium;

		}
		&__text{
			padding-top: 35px;
			margin-bottom: 35px;
		}
		&__left-side{
			width: 48%;
			display: inline-block;
			padding: 0 20px 0 20px;
			background-color: #fafafa;
			vertical-align: middle;
		}
		&__right-side{
			width: 48%;
			display: inline-block;
			vertical-align: middle;
		}
		&__img{
			width: 100%;
			height: 100%;
		}
		&__top{
			margin-top: 45px;
		}
	}
}
.moreinfo{
	text-decoration: none;
	color: #000000;
	margin-left: 4	0px;
	
}
.moreinfo:hover{
	text-decoration: none;
	color: #000000;
	border-bottom: 2px dotted #000;
}
