
.img-slider{
	margin-left: -15px;
	width: 100%;

	&__item{
		background-image: url(../../img/banner-main.png);
		width: 100%;
		height: 428px;
	}

	&__inner{
		width: 40%;
		margin-left: 110px;
		padding-top: 100px;
	}
	&__text{
		padding-top: 20px;
	}
}
.promo-span-title{
	font-size: 36px;
}
.promo-span{
	font-size: 18px;
}


.promo-slider__tabs {
  padding: 0;
  list-style: none;
}
.promo-slider__tabs-item {
  display: inline-block;
  white-space: nowrap;
}
.promo-slider__tabs-item a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 5px;
}
.promo-slider__tabs-item a:hover, .promo-slider__tabs-item.promo-slider__tabs-item--active a {
  background-color: #ddd;
}
.promo-slider__item {
  display: none;
}
.promo-slider__item.promo-slider__tabs-item--active {
  display: block;
}